<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title th:title="${title}">Title</title>
    <meta property="og:url" th:content="${url}">
    <meta property="og:title" th:content="${title}">
    <meta property="og:description" th:content="${description}">
    <th:block th:if="${image != null}">
        <meta property="og:image" th:content="${image}">
    </th:block>
    <meta http-equiv="refresh" th:content="${'1; url='+nsUrl}">
</head>
<body>
<noscript>
    <a th:href="${nsUrl}">No Script</a>
</noscript>
</body>
</html>