<!DOCTYPE html>
<html lang="en" th:fragment="layout(ogp, content)" xmlns:th="http://www.thymeleaf.org">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <!--/*@thymesVar id="ogp" type="dev.usbharu.hideout.core.interfaces.web.common.OGP"*/-->
    <title th:title="${ogp?.title}">Index</title>
    <meta property="og:url" th:content="${ogp?.url}">
    <meta property="og:title" th:content="${ogp?.title}">
    <meta property="og:description" th:content="${ogp?.description}">
    <th:block th:if="${ogp?.image != null}">
        <meta property="og:image" th:content="${ogp.image}">
    </th:block>
</head>
<body>
<header>
    <a href="/home">Hideout</a><a href="/publish">New Post</a><a href="/users/1"><img height="80px"
                                                                                      src="/users/i/icon.jpg" width="80px"></a>
</header>
<hr>
<main>
    <div th:replace="${content}"></div>
</main>
<footer>

</footer>
</body>
</html>