<!DOCTYPE html>
<html lang="ja" th:replace="~{layout::layout(${ogp},~{::#content})}" xmlns:th="http://www.thymeleaf.org">
<head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8">
    <title>Posts - hideout</title>

</head>
<body>

<div id="content">
    <th:block th:if=" ${post.reply != null}">
        <th:block th:replace="~{fragments-post :: single-simple-post(${post.reply})}"></th:block>
        <hr>
    </th:block>
    <main>
        <p th:if="${post.pureRepost}" th:text="#{post.repost-by(${post.actor.name})}">Repost by user</p>
        <th:block th:unless="${post.pureRepost}">
            <th:block th:replace="~{fragments-post :: single-simple-post(${post})}"></th:block>
            <th:block th:replace="~{fragments-post :: single-post-controller(${post})}"></th:block>
        </th:block>
        <th:block th:if="${post.pureRepost}">
            <th:block th:replace="~{fragments-post :: single-simple-post(${post.repost})}"></th:block>
            <th:block th:replace="~{fragments-post :: single-post-controller(${post.repost})}"></th:block>
        </th:block>

    </main>
    <th:block th:if="${post.repost != null && !post.pureRepost}">
        <hr>
        <th:block th:replace="={fragments-post :: single-simple-post(${post.repost})}"></th:block>
        <cite th:text="${post.repost.apId}"></cite>
    </th:block>
</div>

</body>
</html>