<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%.15t] %highlight{%-5level} %x %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="dev.usbharu.owl.broker.service.QueuedTaskAssignerImpl" level="TRACE"/>
        <Logger name="org.mongodb.driver.cluster" level="INFO"/>
        <Logger name="org.apache.tomcat.util.net.NioEndpoint" level="INFO"/>
        <!--        <Logger name="Exposed" level="DEBUG"/>-->
        <Logger name="sun.rmi" level="INFO"/>
        <Logger name="javax.management.remote.rmi" level="INFO"/>
    </Loggers>
</Configuration>